<div class="well">
  <div class="row">
    <div class="col-md-4-offset-4">
      <div class="jumbotron">
        <%= form_tag timeline_index_path, method: :post do %>
        <%= label_tag "New Tweet!" %>
        <%= text_field_tag "message[tweet]" %>
        <%= submit_tag "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
